<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Styles/Styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
    <meta name="description" content="Projekt Puszcze - pieszo przez wszystkie puszcze w Polsce" />
</head>
<body>
    <div id="menu">
        <ul class="list-inline">
            <li><a href="@Url.Action("Index", "Home")">O PROJEKCIE</a></li>
            <li><a href="@Url.Action("Dzialalnosc", "Home")">DZIAŁALNOŚĆ</a></li>
            <li style="color: lightgray;"><a href="#footer"><span class="glyphicon glyphicon-envelope"></span>  KONTAKT</a></li>
            <li><a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/" target="_blank"><img width="25" height="25" alt="FB" src="@Url.Content("~/Content/FB.png")" /></a></li>
        </ul>
    </div>

    <div class="container">
        <a href="@Url.Action("Index", "Home")">
            <img class="img-responsive" style="margin:auto" alt="PROJEKT PUSZCZE" src="@Url.Content("~/Content/header.jpg")" />
        </a>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        <div id="projektPuszcze">P R O J E K T  P U S Z C Z E  &copy;</div>
        <p id="email">
            Zachęcamy do kontaktu drogą mailową: <b>email@email.pl</b><br />
            <a href="https://www.facebook.com/PieszoprzezwszystkiePuszczewPolsce/">oraz poprzez nasz Fanpage! <img width="25" height="25" alt="FB" src="@Url.Content("~/Content/FB.png")" /></a>
        </p>
    </div>

</body>
</html>


<style>
    body {
        background-image: url('../../Content/bg.png');
    }
    div#menu {
        background: black;
        /*position: fixed;*/
        width: 100%;
    }
    ul {
        margin-bottom: 0px;
        text-align: right;
        margin-right: 5%;
    }
    ul li{
        padding: 15px 0 15px 0;
        font-family: Tahoma;
        font-size: 20px;
        color: white;
        text-decoration: none;
    } 
    ul li a{
        padding: 15px;
        font-family: Tahoma;
        font-size: 20px;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    ul li a:hover{
        background: rgba(30,30,30,1);
        color: lightgray;
        text-decoration: none;
    }
    div#footer{
        background: black;
        height: 8vh;
        width: 100%;
        position: relative;
    }
    #email {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        color: lightgray;
        justify-content: center;
    }
    #projektPuszcze {
        height: 100%;
        width: 100%;
        text-align: center;
        color: rgba(211,211,211,0.1);
        font-size: 6vh;
    }
</style>